<!DOCTYPE html>
<html>
	<head>
		<title><%=@title%></title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<meta charset="utf-8">
	</head>

	<!--background-image:url('/assets/background.png');-->
	<body style="padding-top:60px">
		<div class="container-fluid">
			
		<div class ="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
				<a class="brand" href="">Kazuhito Ochiai</a>
					<ul id="navigationBar" class="nav">
						<li id="tab1"><%=link_to "Blog",root_path %></li>
						<li id="tab2"><%=link_to "Projects", projects_path %></li>
						<li id="tab3"><%=link_to "About", about_path %></li>
						<li id="tab4"><%=link_to "Contact", contact_path %></li>
					</ul>
					
				<!-- drop down menu -->	
				<ul class="nav pull-right">
				
				<li class="divider-vertical"></li>
			
				
				<% if signed_in? %>
						<li id="signOut" ><%= link_to current_user.name, signout_path, :method => :delete %></li> 
				<% else %>
						<li id="signIn"><%= link_to "Sign in", signin_path %></li>	
				<% end %>
				
				
			<!--	<li class="divider-vertical"></li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">
					Language / 言語
					<span class="caret"></span>
					</a>
				<ul class="dropdown-menu">
					<li><a href="">English</a></li>
					<li><a href="">日本語</a></li>
				</ul>
				</li>
				</ul>-->
				</div>
			</div>
			
		</div>
		
			<section class="round">
				<% flash.each do |key, value| %>
					<div class="flash <%= key %>"><%= value %></div>
				<% end %>
			</section>
			
			<div class="span12" style="padding-top:20px"> 
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			<!-- <p style="text-align:center">No©2012 <B>Kazuhito Ochiai</B>, You can use any material from this website.</p>-->
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquerey.min.js"></script>
		
		 
	</body>
	
</html>
